.create-head {
  display: flex;
  font-size: 30px;
  color: #000000;
  font-weight: bold;
  margin-left: 0px;
  /* 왼쪽 여백 설정 */
  margin-top: 10px;
  /* 위쪽 여백 설정 */
}

.create-club-form{
  margin-top: 100px;
  font-weight: bold;
}
