/* CreateClub.css */
.create-club-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.create-club-head {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.create-club-form {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-weight: 600;
}

.create-club-formgroup {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 100%;
  max-width: 100%;
}

.form-control.select-center {
  text-align-last: center;
}

.form-textarea {
  width: 100%;
  height: 200px;
}

.create-club-buttongroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.small-button {
  width: 48%;
  margin-top: 10px;
  text-align: center;
}
