
.Event-paging {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 200px;
    /* 필요에 따라 조정하세요 */
}
.create-event {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
.event-list-title {
    display: flex;
    margin-left: 4%;
    
}

.event-card-col {
    padding: 10px;
    /* 카드 주위에 공간을 추가합니다 */
}

.event-card {
    height: 100%;
    /* 카드의 높이를 조절합니다 */
}

.event-card-row {
    align-items: center;
    /* 수직 중앙 정렬을 합니다 */
}

.event-card-col{
    margin: 0 auto;
    /* 좌우 여백을 auto로 설정하여 가운데 정렬합니다 */
    max-width: 20%;
    max-height: 20%;
    /* 최대 너비를 조절하여 좁힙니다 */
}