# Virtual environment
venv/
*.pyc

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.env
# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride