/* 네비게이션 바 스타일 */
.navbar {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

/* 네비게이션 바 링크 스타일 */
.navbar .nav-link {
  color: #333;
  font-weight: bold;
}
/* 카테고리 아이템 스타일 */
.category-item {
  height: auto;
  color: #333; /* 글자색을 어두운 회색으로 설정합니다. */
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center; /* 글자를 가운데 정렬합니다. */
  cursor: pointer;
  transition: transform 0.3s ease; /* 변화에 부드러운 효과 추가 */
  margin: 0 115px; /* 좌우 여백 설정합니다. */
}


/* 마우스를 올렸을 때 카테고리 아이템의 효과 */
.category-item:hover {
  transform: scale(1.05); /* 마우스를 올렸을 때 약간 확대됩니다. */
}


.link-style {
  text-decoration: none;
  /* 링크의 텍스트 장식 제거 */
  color: inherit;
  /* 기본 색상 상속 */
}

.link-style:hover {
  text-decoration: none;
  /* 호버 시 텍스트 장식 제거 */
  color: inherit;
  /* 호버 시 기본 색상 상속 */
}
.category-item {
  text-decoration: none; /* 링크의 밑줄을 제거합니다 */
}
