.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
    
    }


.navbar-brand {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    /* 로고와 텍스트를 수직 가운데 정렬합니다. */
}

.navbar-brand img {
    margin-right: 10px;
    /* 로고와 텍스트 사이에 간격을 조절합니다. */
}

/* 로그인 및 회원가입 링크를 오른쪽으로 배치 */
.navbar-nav {
    margin-left: auto;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    margin-left: 10px;
}