.post-list-container {
    display: flex;
    flex-direction: column; /* 요소들을 수직으로 정렬 */
    width: 80%; /* 전체 화면의 80%만큼 넓이를 사용 */
    margin: 20px auto; /* 상하 20px, 좌우 자동으로 중앙 정렬 */
    padding: 20px; /* 내부 여백을 20px로 설정 */
}
.post-list-title {
    text-align: left;
    font-weight: bold
}

.post-table {
    width: 100%; 
    margin: 0 auto;
    border-collapse: collapse;
}

.post-table th, .post-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.post-list-sort-select {
    width: 180px;
    margin-left: 210px;
}

.post-table th {
    background-color: #f2f2f2;
}

.post-table tbody tr:hover {
    background-color: #f5f5f5;
}

.post-table tbody tr td a {
    color: inherit;
    text-decoration: none;
}

.post-table tbody tr td a:hover {
    background-color: #e6e6e6;
}

.post-table th:nth-child(1),
.post-table th:nth-child(3),
.post-table th:nth-child(4) {
  width: 130px;
}
  
.post-table td:nth-child(5),
.post-table th:nth-child(6) {
  width: 70px;
}




.postList {
    margin-top: 20px;
}
.write {
    margin-top: 20px;
}
.write button {
    width: 60px;
    margin-bottom: 12px;
}


.search {
    margin-bottom: "10px";
}
.search button {
    width: 60px;
}
.search input {
    width: 180px;
    margin-right: 10px;
}
