.category-container {
  display: flex;
  justify-content: space-between;
}

.category-item {
  position: relative; /* 서브 메뉴가 부모 요소를 기준으로 정렬되도록 position 속성 추가 */
  cursor: pointer;
}

.sub-menu {
  position: absolute; /* 서브 메뉴를 절대 위치로 설정 */
  top: 100%; /* 부모 요소 아래에 위치하도록 설정 */
  left: 0; /* 왼쪽 정렬 */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 0;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1; /* 다른 요소들 위에 표시되도록 설정 */
  display: none; /* 초기에는 보이지 않도록 설정 */
}

.category-item:hover .sub-menu {
  display: block; /* 부모 요소에 마우스를 올리면 서브 메뉴가 보이도록 설정 */
}

.sub-menu-item {
  padding: 8px 16px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  display: block;
}

.sub-menu-item:hover {
  background-color: #f5f5f5;
}


/* 마우스를 올렸을 때 카테고리 아이템의 효과 */
.category-item:hover {
  transform: scale(1.05); /* 마우스를 올렸을 때 약간 확대됩니다. */
}


.link-style {
  text-decoration: none;
  /* 링크의 텍스트 장식 제거 */
  color: inherit;
  /* 기본 색상 상속 */
}

.link-style:hover {
  text-decoration: none;
  /* 호버 시 텍스트 장식 제거 */
  color: inherit;
  /* 호버 시 기본 색상 상속 */
}
