/* ClubNotice.css */

.club-notice {
  margin-bottom: 20px;
}

.notice-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333; /* 변경된 색상 */
}

.notice-board {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 20px; 
  background-color: #E3F2FD; /* 변경된 배경색 */
}

.notice-item {
  border-bottom: 1px solid #ccc;
}

.notice-header {
  background-color: #90CAF9; /* 변경된 배경색 */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notice-date {
  font-size: 14px;
  color: #333;
}

.notice-author {
  font-size: 14px;
  color: #333;
}

.notice-content {
  padding: 10px;
  background-color: #E3F2FD; /* 변경된 배경색 */
}

.notice-content p {
  margin-bottom: 10px;
  color: #333; /* 텍스트 색상 추가 */
}
