.MainPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-carousel{
  width: 80%;
  align-items: center;
}
/* 메인베너 Carousel 스타일 */
.carousel-container {
  margin-top: 20px;
}

.carousel-image {
  width: 80%;
  height: 400px;
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 20px;
}

.carousel-caption h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.carousel-caption p {
  font-size: 1.2rem;
}

.notice {
  width: 100%;
  padding: 10px;
  margin-left: 30px;
}

/* 이벤트 카드 및 동아리 공지 컨테이너 스타일 */

.content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px; /* 이벤트 카드와 메인베너 간의 여백을 조정합니다. */
}


/* 챗봇 이미지 스타일 */
.chatbot-image {
  position: fixed;
  bottom: 20px; /* 화면 아래에서 20px만큼 떨어진 위치에 배치합니다. */
  right: 20px; /* 화면 오른쪽에서 20px만큼 떨어진 위치에 배치합니다. */
  width: 100px; /* 이미지의 너비를 설정합니다. */
  height: auto; /* 이미지의 높이를 자동으로 조정합니다. */
  cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능하도록 합니다. */
  z-index: 9999; /* 다른 요소 위에 표시되도록 z-index를 설정합니다. */
}