/*MainPage.css*/
.MainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-carousel {
  width: 100%;
  align-items: center;
  
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.notice {
  width: 100%;
  padding: 10px;
  margin-left: 30px;
}
