/* Club_head.css */

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.button-add {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.horizontal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member,
.album,
.post,
.event {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.member {
  max-width: 300px;
}

.album,
.post,
.event {
  max-width: 600px;
}

.album-stats,
.post-stats,
.event-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.album-title-link,
.post-title-link,
.event-title-link {
  cursor: pointer;
  color: black;
}

.album-title-link:hover,
.post-title-link:hover,
.event-title-link:hover {
  text-decoration: underline;
}
