.club-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    /* 전체 너비를 80%로 설정 */
    margin: 0 auto;
    /* 가운데 정렬 */
}

.club-header img {
    margin-right: 20px;
}

.club-header h1 {
    margin-right: 20px;
    /* 동아리명과 카테고리 리스트 사이의 간격 */
}

.club-header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    /* nav를 가운데 정렬 */
    flex-grow: 1;
    /* nav가 가능한 많은 공간을 차지하도록 */
}

.club-header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    justify-items: center;
    padding: 0;
}

.club-header nav ul li {
    margin-right: 30px;
    padding: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.club-header nav ul li:hover {
    background-color: #e0e0e0;
    color: #333;
}

.manage {
    margin-left: auto;
    /* 동아리 관리를 오른쪽으로 밀어내기 */
    margin-right: 50px;
}