.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.club-logo-container {
  margin: 20px;
}

.club-logo {
  width: 70px;
  height: 70px;
}

.horizontal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 10px;
}

.member-job {
  font-weight: bold;
  margin-bottom: 5px; /* 추가: 각 항목 사이에 공간을 추가 */
}

.member-id {
  font-size: small;
}

.posts-table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.posts-table th, .posts-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.club-albums-container {
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
}

.album {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-title {
  font-weight: bold;
  margin-bottom: 1px;
}

.album-stats {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.views, .recommended {
  padding: 3px;
  margin: 3px;
}

.club-events-container {
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
}

.event {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-title {
  font-weight: bold;
  margin-bottom: 1px;  /* 제목 아래에 조금의 여백을 추가 */
}

.event-stats {
  display: flex;
  justify-content: center;  /* 중앙 정렬을 통해 더 깔끔하게 표시 */
  width: 100%;
}

.views, .recommended {
  padding: 3px;
  margin: 0 10px;  /* 각각의 요소 사이의 간격을 조정 */
}