/* .change-button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.change-cancel-button {
    margin-right: 450px;
    background-color: gray;
    color: azure;
}
.cancel {
    color: azure;
    text-decoration: none;
}
.password-button {
    background-color: #007bff;
    margin-left: 450px;
}

.head-change-password {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.password-mismatch {
    color: red;
} */