/* .change-button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.change-cancel-button {
    margin-right: 450px;
    background-color: gray;
    color: azure;
}
.cancel {
    color: azure;
    text-decoration: none;
}
.password-button {
    background-color: #007bff;
    margin-left: 450px;
}

.head-change-password {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.password-mismatch {
    color: red;
} */
.new-password-input{
    width: 50%;
    margin-right: 40%;
}

.form-horizontal {
    font-weight: bold;
    padding-top: 5%;
}
.new-password-btn {
    margin-top: 40px;
    margin-left: 20%;
}

.change-password-form-group {
    margin-bottom: 15px;
    margin-left:20%;
    margin-right:40%;
    /* 각 폼 그룹 간의 간격 */
}