.reset-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center; /* 컨텐츠를 가운데 정렬합니다 */
}

.reset-password-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.reset-password-container label {
  display: block;
  margin-top: 10px;
  color: #333;
  text-align: left;
}

.reset-password-container input {
  width: calc(100% - 22px); /* 테두리와 안쪽 여백을 고려하여 폭을 조정합니다 */
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box; /* 폭 계산에 패딩과 테두리를 포함시킵니다 */
}

.reset-password-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.reset-password-container button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
