/* 수정된 CSS */

.my-category-container {
    display: flex;
    justify-content: center;
    /* 가운데 정렬 */
    background-color: #e9ecef;
    /* 배경색 어둡게 조정 */
    padding: 5px;
    border-radius: 20px;
    /* 네비게이션 영역의 둥근 모서리 */
    margin: 10px auto;
    /* 위아래 여백을 조절하여 중앙 정렬 */
    max-width: 550px;
    /* 최대 너비 설정 */
    height: 40px;
}
.my-category-item {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: #495057;
    padding: 8px 15px;
    /* 패딩 크기 조정 */
    margin: 0 5px;
    /* 아이템 간격 조정 */
    border-radius: 20px;
    /* 둥근 네모 모양으로 */
    font-family: 'Arial', sans-serif;
    /* 글꼴 변경 */
    line-height: 0.5;
}
.my-category-item:hover {
    background-color: #ffc107;
    border-radius: 30px;
}

.my-category-item.active {
    background-color: #ffc107;
    border-radius: 30px;

}

.category_btn {
    display: flex;
}

.category_btn button {
    margin-inline: 10px;
    padding: 3px;
}

.category_btn:hover {
    color: #007bff;

}